<template>
  <div class="row">
    <div v-for="products in productList" v-bind:key="products.name" class="col-sm-6 col-xs-12">
      <div class="card">
        <span class="top">
          <h3>{{ products.name }}</h3>
          <h5>{{ formatMoney(products.price) }}</h5>
        </span>
        <p>{{ limitChar(products.description) }}</p>
        <span>
          <label>Furtniture Style</label>
          <br>
          <p v-for="style in products.furniture_style" v-bind:key="style" class="blue-text">{{ style }}</p>
        </span>
        <span class="right">
          <label>Delivery Time</label>
          <p>{{ products.delivery_time }} Days</p>
        </span>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'Card',
    props: ['productList'],
    methods:{
      formatMoney(number) {
        return number.toLocaleString('en-US', { style: 'currency', currency: 'IDR' });
      },
      limitChar(character){
          return character.length >= 114 ? character.substring(0, 114) + '  .  .  .' : character
      }
    },
  } 
</script>
<style lang="scss">
 
</style>
