<template>
  <div id="app">
    <div>
      <div class="row">
        <div class="filter-wrapper">
          <div class="left-side filter">
            <input type="text" v-model="search" placeholder="Search Furtniture" />
            <span class="checkbox">
             <div class="dropdown dropdown-filter">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Furtniture Style
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#" v-for="furniture in furniture_style" v-bind:key="furniture">
                    <div class="form-check">
                      <label class="form-check-label" :for="furniture">{{furniture}}</label>
                      <input type="checkbox" class="form-check-input checkmark" :id="furniture" :value="furniture" @change="check">
                    </div>
                  </a>
                </div>
              </div>
            </span>
          </div>
          <div class="right-side filter">
            <span class="filter-dropdown">
                <div class="dropdown dropdown-filter checkbox">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Delivery Time
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a v-for="time in timeFilter" v-bind:key="time.value" class="dropdown-item" href="#">
                      <div class="form-check">
                        <label class="form-check-label" :for="time.label">{{time.label}}</label>
                        <input type="checkbox" class="form-check-input checkmark" :id="time.value" :value="time.value" @change="timeCheck">
                      </div>
                    </a>
                  </div>
              </div>
            </span>
          </div>
        </div>
        <div class="box-product">
            <card :productList="productList"></card>          
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import axios from 'axios' 
  import Card from './components/Card'
  export default {
    name: 'App',
      data () {
      return {
      products: [],
      furniture_style:[],
      furniture_filter:[],
      time_del:[],
      search: '',
      serachTime:[],
      timeBasket:[],
      timeFilter:[
        {
          label: '1 Week',
          value : 1
        },
        {
          label: '2 Week',
          value : 2
        },
        {
          label: '1 Month',
          value : 3
        },
        {
          label: '2 Month',
          value : 4
        },
      ]
      }
    },
    mounted() {
      axios.get("http://www.mocky.io/v2/5c9105cb330000112b649af8")
      .then(response => {
        this.products = response.data.products
        this.furniture_style = response.data.furniture_styles
        response.data.products.map(data => this.time_del.push(data.delivery_time))
        /* eslint-disable no-console */
        console.log(this.time_del)
        /* eslint-disable no-console */
        })
    },
    methods:{
      formatMoney(number) {
        return number.toLocaleString('en-US', { style: 'currency', currency: 'IDR' });
      },
      timeCheck(e){
        /* eslint-disable no-console */
        console.log(e.target.value)
        switch(e.target.value){

          case '1':
             e.target.checked ? this.timeBasket.push('1'): ''
             !e.target.checked ? this.timeBasket = this.timeBasket.filter(a => a != '1'): ''
              this.time_del.map(a => {
              e.target.checked && a > 0 && a <= 7 ? this.serachTime.push(a) : ''
              !e.target.checked && a > 0 && a <= 7 ? this.serachTime = this.serachTime.filter(b => b != a) : ''
            })
            console.log(this.serachTime)
            break

          case '2':
            e.target.checked ? this.timeBasket.push('2'): ''
            !e.target.checked ? this.timeBasket = this.timeBasket.filter(a => a != '2'): ''
            this.time_del.map(a => {
            e.target.checked && a > 7 && a <= 14 ? this.serachTime.push(a) : ''
            !e.target.checked && a > 7 && a <= 14 ? this.serachTime = this.serachTime.filter(b => b != a) : ''

          })
          console.log(this.serachTime)
          break

          case '3':
            e.target.checked ? this.timeBasket.push('3'): ''
            !e.target.checked ? this.timeBasket = this.timeBasket.filter(a => a != '3'): ''
            this.time_del.map(a => {
            e.target.checked && a > 21 && a <= 31 ? this.serachTime.push(a) : ''
            !e.target.checked && a > 21 && a <= 31 ? this.serachTime = this.serachTime.filter(b => b != a) : ''
          })
          console.log(this.serachTime)
          break

          case '4':
            e.target.checked ? this.timeBasket.push('4'): ''
            !e.target.checked ? this.timeBasket = this.timeBasket.filter(a => a != '4'): ''
            this.time_del.map(a => {
            e.target.checked && a > 31 && a <= 60 ? this.serachTime.push(a) : ''
            !e.target.checked && a > 31 && a <= 60 ? this.serachTime = this.serachTime.filter(b => b != a) : ''
          })
          console.log(this.serachTime)
          break
        }
      },
      check:function(e){
        // console.log(e.target.value, e.target.checked)
        if(e.target.checked){
          this.furniture_filter.push(e.target.value)
        }else{
          this.furniture_filter = this.furniture_filter.filter(value => value != e.target.value)
        }
      }
    },
    computed:{
      productList: function(){  
        return this.products.filter((products) =>{
          let changeArray = [products.delivery_time]
          if(this.furniture_filter.length == 0 && this.serachTime.length == 0 && this.timeBasket.length == 0){
            return products.name.toLowerCase().match(this.search.toLowerCase());
          }else if(this.furniture_filter.length != 0 && this.serachTime.length == 0 && this.timeBasket.length == 0) {
            return products.name.toLowerCase().match(this.search.toLowerCase()) && this.furniture_filter.some(v=> products.furniture_style.indexOf(v) !== -1);
          } else if(this.serachTime.length != 0 && this.furniture_filter.length == 0){
          return products.name.toLowerCase().match(this.search.toLowerCase()) &&  this.serachTime.some(v=>  changeArray.indexOf(v) !== -1);
          } else {
            return products.name.toLowerCase().match(this.search.toLowerCase()) && this.furniture_filter.some(v=> products.furniture_style.indexOf(v) !== -1) &&  this.serachTime.some(v=>  changeArray.indexOf(v) !== -1);
          }
        });
        /* eslint-disable no-console */
      }
    },
    components:{
      card: Card
    }
  } 
</script>
<style lang="scss">
  @import './assets/styles/custom.scss';
  @import "../node_modules/bootstrap/scss/bootstrap.scss";

  #app {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #273c50;
      .row{
        margin: 0;
        .filter-wrapper {
            width: 100%;
            background: #1691c2;
            padding: 15px;
            .filter {
                width: 50%;
                text-align: left;
                padding: 15px;
                display: inline-block;
                input {
                    background: transparent;
                    color: rgb(255, 255, 255);
                    box-shadow: none;
                    border: 0;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    width: 100%;
                    outline: none;
                }
                .dropdown-filter {
                    .btn {
                      width: 100%;
                      text-align: left;
                      background: rgb(255, 255, 255) !important;
                      border-radius: 0.35rem;
                      border: 0;
                      margin-top: 25px;
                      color: #655f5f;
                      font-size: 17px !important;
                      display: flex;
                      align-items: center;
                      &:after{
                        margin-left: auto;
                      }
                    }
                    .dropdown-menu {
                        width: 100%;
                    }
                }
            }
            .checkbox .form-check {
              display: flex;
              padding: 0;
              input {
                  width: 15px;
                  margin-left: auto !important;
                  position: relative;
              }
          }
        }
      }
      .box-product {
            .row{
              margin: 10px;
              .card {
                  padding: 15px;
                  text-align: left;
                  margin-top: 30px;
                  border-radius: 0.5rem;
                  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
                  .top {
                      display: flex;
                      h3 {
                          font-size: 25px;
                          font-weight: 700;
                      }
                      h5 {
                          margin-left: auto;
                          font-size: 18px;
                          color: rgb(243, 158, 0);
                          font-weight: 600;
                      }
                  }
                  p{
                    font-size: 16px;
                    color: #656262;
                  }
                  .blue-text{
                    color: #0087bb;
                    display: inline-block;
                    padding-right: 10px;
                  }
                  .right{
                    text-align: right;
                    p{
                      color: rgb(10, 10, 231);
                      text-decoration: underline;
                      font-weight: 600;
                    }
                  }
              }
            }
      }
  }

  #nav {
    padding: 30px;

    a {
      font-weight: bold;
      color: #2d445a;

      &.router-link-exact-active {
        color: #3fb982;
      }
    }
  }
  .checkmark {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

</style>
